<!DOCTYPE html>
<html>
<head>
	{% block head %}
	<!-- Material Design fonts -->
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	<!-- Bootstrap -->
	<link href="{{ url_for('static',filename='bower_components/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">

	<!-- Bootstrap Material Design -->
	<link href="{{ url_for('static',filename='bower_components/bootstrap-material-design/dist/css/bootstrap-material-design.css') }}" rel="stylesheet">
	<link href="{{ url_for('static',filename='bower_components/bootstrap-material-design/dist/css/ripples.min.css') }}" rel="stylesheet">

	<!-- Scripts -->
	<script src="/static/bower_components/jquery/dist/jquery.min.js"></script>
	<script src="/static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="/static/bower_components/bootstrap-material-design/dist/js/material.min.js"></script>
	<script src="/static/bower_components/bootstrap-material-design/dist/js/ripples.min.js"></script>

	<!-- other shnit -->
	<title>Lunch App</title>
	{% endblock %}
</head>
<body>
	{% block body %}{% endblock %}
</body>
</html>