<!DOCTYPE html>
<html>

	<head>
	    <title>Lunch App</title>

	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <script src="{{ url_for('static',filename='js/jquery-2.1.4.min.js') }}"></script>
	    <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
	    <script src="{{ url_for('static',filename='js/location.js') }}"></script>
	    <script src="{{ url_for('static',filename='js/request.js') }}"></script>
	    <script src="https://maps.google.com/maps/api/js?sensor=false"></script>
	    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
	    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/bootstrap-theme.min.css') }}">
	    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
	    
	    


	    <script src="bower_components/webcomponentsjs/webcomponents-lite.min.js"></script>
	    <script src="{{ url_for('static',filename='js/bower_components/webcomponentsjs/webcomponents-lite.min.js') }}"></script>
    	<link rel="import" href="{{ url_for('static',filename='js/bower_components/paper-button/paper-button.html') }}">
    	<link rel="import" href="{{ url_for('static',filename='js/bower_components/paper-card/paper-card.html') }}">


    	<link rel="shortcut icon" href="{{ url_for('static',filename='images/favicon.ico') }}" />

	</head>

	<header>
		<nav class="customnavbar navbar navbar-default">
		  <div class="container-fluid">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      <button type="button" class="textcolors navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class=" navbar-brand textcolors" href="/">Lunch App</a>
		    </div>

		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      <ul class="nav navbar-nav">
		        
		          
		      </ul>
		      
		     
		    </div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		</nav>


	</header>




	<div class="container-fluid">
		
		<div class="container">
			
			<div class='row'>

				<div class="col-md-8 col-md-offset-2">


					<paper-card class="width x-scope paper-card-0" elevation="1">
			  
					  <div class="dark-primary-color header style-scope paper-card">
						  <div class="title-text style-scope paper-card">
						  		 <div class="image">

								      <img src="{{ url_for('static',filename='images/stock1.jpg') }}" alt="" />
								      
								      <h2><span>Restaurant 1</span></h2>

								</div>
						  		
						  </div>
					  </div>
					  <div class="card-content">

					  	Hours: 9-5

					  </div>

					  <div class="card-actions">
					    <paper-button>Some action</paper-button>
					  </div>

					</paper-card>

				</div>


				<div class="col-md-8 col-md-offset-2">


					<paper-card class="width x-scope paper-card-0" elevation="1">
			  
					  <div class="default-primary-color header style-scope paper-card">
						  <div class="title-text style-scope paper-card">

						  		<a href="http://www.yahoo.com">Restaurant Name 2</a>
						  </div>
					  </div>
					  <div class="card-content">

					  	Hours: 9-5

					  </div>

					  <div class="card-actions">
					    <paper-button>Some action</paper-button>
					  </div>

					</paper-card>

				</div>

				<div class="col-md-8 col-md-offset-2">


					<paper-card class="width x-scope paper-card-0" elevation="1">
			  
					  <div class="light-primary-color header style-scope paper-card">
						  <div class="title-text style-scope paper-card">

						  		<a href="http://www.yahoo.com">Restaurant Name 3</a>
						  </div>
					  </div>
					  <div class="card-content">

					  	Hours: 9-5

					  </div>

					  <div class="card-actions">
					    <paper-button>Some action</paper-button>
					  </div>

					</paper-card>

				</div>




				



			</row>
			


		</div>
	</div>
	
</html>
