{% extends "base.html" %}
<html>
	<head>
	</head>
<body>
{% block body %}
<!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">Timefor<strong>Lunch</strong></span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation. We hide it in small screens. -->
      <nav class="mdl-navigation mdl-layout--large-screen-only">
        <a class="custom-nav-button mdl-navigation__link is-active" href="">Home</a>
        <a class="custom-nav-button  mdl-navigation__link" href="https://github.com/JRedeker/lunch_app">Github</a>
        <a class="custom-nav-button mdl-navigation__link" href="">Link</a>
      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Timefor<strong>Lunch</strong></span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link is-active" href="http://lunchapp.xyz/new">Home</a>
      <a class="mdl-navigation__link" href="">Start</a>
      <a class="mdl-navigation__link" href="">Results</a>
      <a class="mdl-navigation__link" href="">About</a>
    </nav>
  </div>
  <main class="mdl-layout__content">
  <!--Content goes here -->

    <div  class="page-content">
    	<div id="getstarted-card" class="container">
    		<div class="lunch-card-wide mdl-card mdl-shadow--2dp">
    		  <div class="mdl-card__title" id="top-card">
    		    <h2 class="mdl-card__title-text">Timefor<strong>lunch</strong></h2>
    		  </div>
    		  <div class="mdl-card__supporting-text">
    		  	Don't waste your time deciding.  
    		  	Whether it's the whole team or just you, find a new place and get eating.
    		  </div>
    		  <div class="mdl-card__actions mdl-card--border">
    		    <button id="fromhere" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
    		      Get Started
    		    </button>
    		  </div>
    		  <div class="mdl-card__menu">
    		  </div>
    		</div>
    	</div>

    	<div id="description-card" class="container" id="gohere">
    		<div class="lunch-card-wide mdl-card mdl-shadow--2dp">
    			<div class="mdl-card__title" id="second-card">
    			</div>
    			<div class="mdl-card__supporting-text">
                    Answer a few questions, and we'll get you on your way
    			</div>
    		</div>
    	</div>
    	<div id="location-card" class="container">
    		<div class="lunch-card-wide mdl-card mdl-shadow--2dp">
    			<div class="mdl-card__title" id="mapholder">
    				<h5>Location</h5>
    			</div>
    			<div class="custom-supporting-text mdl-card__supporting-text" id="location-card-supporting">
    				<div class="custom-textfield input-group">
    					<div class="custom-textfield mdl-textfield mdl-js-textfield">
    					    <input class="custom-textfield mdl-textfield__input" type="text" id="user_location" onchange="codeAddress()">
    					</div>
				    </div>
    			</div>
    			<div class="mdl-card__menu">
					<button class="mdl-button mdl-button--icon mdl-button--fab mdl-button--colored mdl-js-button mdl-js-ripple-effect" onclick="getLocation()">
				      <i class="material-icons">my_location</i>
				    </button>
			  	</div>
    		</div>
    	</div>
    	<div id="distance-card" class="container">
    		<div class="lunch-card-wide mdl-card mdl-shadow--2dp">
    			<div class="mdl-card__title" id="radius-card">
    				<div class="container">
    					<strong>
    					How far are you willing to go?
    					</strong>
    				</div>
    			</div>
    			<div class="mdl-card__supporting-text">
    				<div class="container">
    					<label class="custom-mdl-radio mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-1">
    					  <input type="radio" id="option-1" class="mdl-radio__button" name="options" value="1" checked>
    					  <span class="mdl-radio__label">5 miles</span>
    					</label>
					</div>
					<div class="container">
    					<label class="custom-mdl-radio mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-2">
    					  <input type="radio" id="option-2" class="mdl-radio__button" name="options" value="2">
    					  <span class="mdl-radio__label">10 miles</span>
    					</label>
    				</div>
    				<div class="container">
    					<label class="custom-mdl-radio mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-3">
    					  <input type="radio" id="option-3" class="mdl-radio__button" name="options" value="3">
    					  <span class="mdl-radio__label">15 miles</span>
    					</label>
					</div>
					<div class="container">
    					<label class="custom-mdl-radio mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-4">
    					  <input type="radio" id="option-4" class="mdl-radio__button" name="options" value="4">
    					  <span class="mdl-radio__label">As far as it takes.</span>
    					</label>
					</div>
    			</div>
    		</div>
    	</div>
    	<div id="foodtype-card" class="container">
    		<div class="lunch-card-wide mdl-card mdl-shadow--2dp">
    			<div class="mdl-card__title" id="types-card">
    				<div class="container"><strong>What types of food are in play?</strong></div>
    			</div>
    			<div class="mdl-card__supporting-text">
					<div class="container">
						<div class="row">
							<div class="col-xs-2">
								<label class="custom-mdl-checkbox  mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-1">
								  <input type="checkbox" id="checkbox-1" class="mdl-checkbox__input" checked>
								  <span class="mdl-checkbox__label">Chinese</span>
								</label>
							</div>
							<div class="col-xs-5"></div>
							<div class="col-xs-2">
								<label class="custom-mdl-checkbox  mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-2">
								  <input type="checkbox" id="checkbox-2" class="mdl-checkbox__input" checked>
								  <span class="mdl-checkbox__label">Mexican</span>
								</label>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-2">
								<label class="custom-mdl-checkbox  mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-3">
								  <input type="checkbox" id="checkbox-3" class="mdl-checkbox__input" checked>
								  <span class="mdl-checkbox__label">Italian</span>
								</label>
							</div>
							<div class="col-xs-5"></div>
							<div class="col-xs-2">
								<label class="custom-mdl-checkbox  mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-4">
								  <input type="checkbox" id="checkbox-4" class="mdl-checkbox__input" checked>
								  <span class="mdl-checkbox__label">American</span>
								</label>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-2">
								<label class="custom-mdl-checkbox  mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-5">
								  <input type="checkbox" id="checkbox-5" class="mdl-checkbox__input" checked>
								  <span class="mdl-checkbox__label">Thai</span>
								</label>
							</div>
							<div class="col-xs-5"></div>
							<div class="col-xs-2">
								<label class="custom-mdl-checkbox  mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-6">
								  <input type="checkbox" id="checkbox-6" class="mdl-checkbox__input" checked>
								  <span class="mdl-checkbox__label">Indian</span>
								</label>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-2">
								<label class="custom-mdl-checkbox  mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-7">
								  <input type="checkbox" id="checkbox-7" class="mdl-checkbox__input" checked>
								  <span class="mdl-checkbox__label">South American</span>
								</label>
							</div>
							<div class="col-xs-5"></div>
							<div class="col-xs-2">
								<label class="custom-mdl-checkbox  mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-8">
								  <input type="checkbox" id="checkbox-8" class="mdl-checkbox__input" checked>
								  <span class="mdl-checkbox__label">Japanese</span>
								</label>
							</div>
						</div>
					</div>
    			</div>
    		</div>
    	</div>
    	<div id="go-card" class="container">
    		<div class="lunch-card-wide mdl-card mdl-shadow--2dp">
    			<div class="mdl-card__title" id="give-card">
    			</div>
    			<div class="mdl-card__supporting-text">
                    <button id="chooseforme" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                        Choose for me
                    </button>
    			</div>
    		</div>
    	</div>

    </div>


  </main>
</div>

{% endblock %}
</body>
</html>
