
<!DOCTYPE html>
<html>

	<head>
	    <title>Lunch App</title>

	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <script src="{{ url_for('static',filename='js/jquery-2.1.4.min.js') }}"></script>
	    <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
	    <script src="{{ url_for('static',filename='js/location.js') }}"></script>
	    <script src="{{ url_for('static',filename='js/request.js') }}"></script>
	    <script src="https://maps.google.com/maps/api/js?sensor=false"></script>
	    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
	    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/bootstrap-theme.min.css') }}">
	    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">

	</head>

	<header>
		<nav class="customnavbar navbar navbar-default">
		  <div class="container-fluid">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      <button type="button" class="textcolors navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class=" navbar-brand textcolors" href="/">Lunch App</a>
		    </div>

		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      <ul class="nav navbar-nav">
		        
		          
		      </ul>
		      
		     
		    </div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		</nav>


	</header>




	<div class="container-fluid">
		
		<div class="container">
			
			<div class="row">
				<div class="col-xs-12" style="text-align:center">
					<div class="input-group" style="float:none;margin:auto">
	                    <input type="text" id="user_location" class="form-control" placeholder="1234 parkway">
	                    <span class="input-group-btn">
	                    	<button type="button" class="btn btn-default" aria-label="Left Align">
							  <span class="glyphicon glyphicon-screenshot" aria-hidden="true"></span>
							</button>
	                	</span>
	                </div>
				</div>
			</div>

			<div class="row" style="margin-top:15px;">
				<div class="col-xs-12 col-sm-5" style="text-align:center">
					<div class="input-group"> <span class="input-group-addon">Show options within:</span>
	                    <select id="radius" class="selectpicker form-control" data-live-search="true" title="Please select a radius ...">
	                        <option>5 miles</option>
	                        <option>10 miles</option>
	                        <option>15 miles</option>
	                        <option>25 miles</option>
                        </select>
	                </div>
				</div>
			</div>
			<div class="row" style="margin-top:15px">
				<div class="col-xs-12">
					<div id="mapholder" style="margin:auto"></div>
				</div>
			</div>
			<div class="row" style="margin-top:20px;margin-bottom:20px;text-align:center">
				<div class="col-xs-12">
					<button class="btn btn-danger btn-md" onclick="sendRequest(1);">Choose for me</button>
					<button class="btn btn-default btn-md" onclick="sendRequest(3)">Give me 3 options</button>
				</div>
			</div>
		</div>
	</div>
	
</html>
