#text{

	font-size: 5em;


}


.customnavbar{

	background: #00796B;

}
.navbar-default .navbar-brand {
    color: #fff;
}
.flatbutton{

	background-color:#00796B;
	color:#fff;

}


.flatbutton:hover{

	background-color:#009688;

}

.dark-primary-color{ 
	background: #00796B; 
}
.default-primary-color{ background: #009688; }
.light-primary-color{ background: #B2DFDB; }
.text-primary-color{ color: #FFFFFF; }
.accent-color{ background: #FF5252; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #727272; }
.divider-color         { border-color: #B6B6B6; }


.width{
	width:100%;
	margin-bottom: 20px;
}

a {

	color:#fff;
}
.header.paper-card .title-text.paper-card{

	background-attachment: fixed;

	padding:0px;
	height:200px;

	

}

#headerimage1{

	background-image: url("../images/stock1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
	background-attachment: fixed;
}

.image { 
   position: relative; 
   bottom: 250px;

   width: 100%; /* for IE 6 */
}

/*
h2 { 
   position: absolute; 
   top: 385px; 
   left: 0; 
   width: 100%; 
}

h2 span { 
   color: white; 
   font: bold 24px/45px Helvetica, Sans-Serif; 
   letter-spacing: -1px;  
   background: rgb(0, 0, 0); /* fallback color 
   background: rgba(0, 0, 0, 0.7);
   padding: 10px; 
}
*/
.excludecheckbox{

  padding:3px 20px;

}
.lunch-card-wide.mdl-card {
    margin-top: 10px;
    margin-bottom: 10px;
	width: 100%;
}
.lunch-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
  
}
#top-card {
    background: url("../images/food-salad-restaurant-person.jpg") center / cover;
}
#second-card {
    background: url("../images/food-restaurant-hand-dinner.jpg") center / cover;
}
#radius-card {
    background: #009688;
    height: 50px;
}
#types-card {
    background: #FF5252;
    height: 50px;
}
.lunch-card-wide > .mdl-card__menu {
  color: #fff;
}

/*
#star {
  text-align: center;
  font-size: 100px;
  line-height: 500px;
  color: #ddd;
}
*/
.custom-mdl-checkbox{

  margin-bottom:20px;

}

.custom-mdl-radio{

  margin-bottom:20px;

}

.custom-nav-button:hover{

  background-color:#67AEA7;
  text-decoration: none;

}
.custom-supporting-text{

  width:100%;

}
.custom-textfield{

  width:100%;

}

#location-card {

  display:none;

}
#go-card {
  display:none;

}

#foodtype-card{
  display:none;

}

#distance-card {
  display:none;

}
#description-card{

  display:none;

}