.excludecheckbox{

  padding:3px 20px;
  color:#BDBDBD;

}

.foodtypelabel{

	color:#333 !important;
}

#dropdownMenu1{

	color:#BDBDBD;

}

@media (max-width: @screen-xs) {
    body{font-size: 20px;}
}

@media (max-width: @screen-sm) {
    body{font-size: 14px;}
}

