#text{

	font-size: 5em;


}


.customnavbar{

	background: #00796B;

}
.navbar-default .navbar-brand {
    color: #fff;
}
.flatbutton{

	background-color:#00796B;
	color:#fff;

}


.flatbutton:hover{

	background-color:#009688;

}

.dark-primary-color{ 
	background: #00796B; 
}
.default-primary-color{ background: #009688; }
.light-primary-color{ background: #B2DFDB; }
.text-primary-color{ color: #FFFFFF; }
.accent-color{ background: #FF5252; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #727272; }
.divider-color         { border-color: #B6B6B6; }


.width{
	width:100%;
	margin-bottom: 20px;
}

a {

	color:#fff;
}

.lunch-card-wide.mdl-card {
    margin-top: 10px;
    margin-bottom: 10px;
	width: 100%;
}
.lunch-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
  
}
#top-card {

    background: url("../images/food-salad-restaurant-person.jpg") center / cover;
}
#second-card {
    
    background: url("../images/food-restaurant-hand-dinner.jpg") center / cover;
}
.lunch-card-wide > .mdl-card__menu {
  color: #fff;
}

#star {
  text-align: center;
  font-size: 100px;
  line-height: 500px;
  color: #ddd;
}